* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.container {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#cabeca {
    position: fixed; /* Define a posição fixa */
    top: 0; /* Coloca o cabeçalho no topo da página */
    width: 100%; /* Define a largura total */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #006cb4;
    color: #fff;
    font-size: 18px; /* Aumenta o tamanho da fonte */

}

#logo {
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.bg-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

h2 {
    color: #006cb4;
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

label {
    display: block;
    margin-bottom: 5px;
    color: 666;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.error-message {
    color: #ff0000;
    margin-top: 5px;
}
